<footer class="py-3 mt-4" style="background-color: #E5E5E5;">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a routerLink="/place" routerLinkActive="active" class="nav-link px-2 text-muted">Ana Sayfa</a></li>
    <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link px-2 text-muted">Hakkımızda</a></li>
    <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link px-2 text-muted">İletişim</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">SSS</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Gizlilik Politikası</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Şartlar ve koşullar</a></li>
  </ul>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-facebook"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-instagram"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-twitter"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-linkedin"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-youtube"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p class="text-center text-muted">© 2022 FiFunny</p></a></li>
  </ul>
</footer>