<main role="main" class="container mt-5">
  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">
        Hakkımızda <span class="text-muted"> Fifunny.com</span>
      </h2>
      <div innerHTML="{{about.text}}"></div>
    </div>
    <div class="col-md-6 order-md-1 mt-5">
      <img
        width="600"
        height="600"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        alt="item"
        [src]="itemImageUrl"
      />
    </div>
  </div>
</main>
