<div class="container">
  <div class="row">
    <main class="col-md-12 ms-sm-auto px-md-4 mt-3">
      <div class="col">
        <div class="text-center">
          <h4 class="mb-3">İşletmenizi Düzenleyin</h4>
        </div>
        <form [formGroup]="placeAddForm" (ngSubmit)="update()" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="name" class="form-label">İşletme Adı</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="{{currentPlace.name}}" value="">
            </div>

            <div class="col-md-5">
              <label for="sehirId" class="form-label">İl</label>
              <select formControlName="sehirId" class="form-select" id="sehirId" (ngModelChange)="onChangeProvince($event)">
                <option value="">il seçiniz</option>
                <option *ngFor="let p of Province" [value]="p.id">{{p.sehiradi}}</option>
              </select>
              <div style="color: red;" class="help-block" *ngIf="placeAddForm.get('sehirId')?.hasError('required') && placeAddForm.get('sehirId')?.touched">
                İl seçimi zorunludur.
              </div>
            </div>
  
            <div class="col-md-4">
              <label for="ilceId" class="form-label">İlçe</label>
              <select formControlName="ilceId" class="form-select" id="state">
                <option value="">ilçe seçiniz</option>
                <option *ngFor="let d of District" [value]="d.id">{{d.ilceadi}}</option>
              </select>
              <div style="color: red;" class="help-block" *ngIf="placeAddForm.get('ilceId')?.hasError('required') && placeAddForm.get('ilceId')?.touched">
                İlçe seçimi zorunludur.
              </div>
            </div>
  
            <div class="col-12">
              <label for="adres" class="form-label">Adres</label>
              <textarea type="text" formControlName="adres" class="form-control" id="adres" placeholder="{{currentPlace.adres}}" value=""></textarea>
            </div>
  
            <div class="col-md-6">
              <label for="categoryId" class="form-label">Kategori</label>
              <select formControlName="categoryId" class="form-select" id="state">
                <option value="">Kategori seçiniz</option>
                <option *ngFor="let c of Category" [value]="c.id">{{c.name}}</option>
              </select>
              <div style="color: red;" class="help-block" *ngIf="placeAddForm.get('categoryId')?.hasError('required') && placeAddForm.get('categoryId')?.touched">
                Kategori seçimi zorunludur.
              </div>
            </div>
  
            <div class="col-6">
              <label for="videoURL" class="form-label">Youtube Linki (isteğe bağlı)</label>
              <input type="text" formControlName="videoURL" class="form-control" id="videoURL" placeholder="{{currentPlace.videoURL}}" value="">
            </div>
            
            <div class="col-12">
              <label for="vergiNumarasi" class="form-label">İşletme Vergi Numarası</label>
              <input type="text" formControlName="vergiNumarasi" class="form-control" id="vergiNumarasi" placeholder="{{currentPlace.vergiNumarasi}}" value="">
            </div>
          </div>
          <hr class="my-4">
          <div class="row g-3">
            <label for="description" class="form-label">Aciklama</label>
            <div class="editor">
              <ngx-editor-menu [editor]="editor1"></ngx-editor-menu>
              <ngx-editor [editor]="editor1" [ngModel]="html" [attr.disabled]="false"
                [placeholder]="'Açıklamalar.....'" formControlName="description">
              </ngx-editor>
            </div>
          </div>
          <hr class="my-4">
          <div class="row g-3">
            <label for="uyarilar" class="form-label">Tanıtım Yazısı</label>
            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
              <ngx-editor [editor]="editor" [ngModel]="html" [attr.disabled]="false" [placeholder]="'Tanıtım Yazısı.....'"
                formControlName="uyarilar">
              </ngx-editor>
            </div>
          </div>
          <div class="row g-3">
            <hr class="my-4">
            <div class="text-center">
              <button class="w-50 btn btn-dark btn-lg black-background" type="submit" [disabled]="!placeAddForm.valid">Güncelle</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>